* {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 950px;
    }
}

@media screen and (max-width: 820px) {
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 390px) {
    .container {
        max-width: 350px;
    }
}